* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat';
}

:root {
    --yello: rgb(255, 245, 98);
    --pnk: rgb(255, 136, 229);
    --purpl: rgb(122, 50, 255);
    --dpurpl: rgb(104, 42, 218);
    --ble:rgb(112, 96, 255);
    --gren:rgb(95, 219, 111);
    --infinite: 1000000000000;
}

body {
    overflow-x: hidden;
    background-color: var(--dpurpl);
}

h1,
h2,
h3,
p {
    color: white;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

section {
    width: 100vw;
    min-height: 100vh;
    background: var(--purpl);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

button {
    border: solid white 5px;
    border-radius: 100px;
    padding: 10px;
    background-color: var(--yello);
    transition: transform 250ms ease;
}

button:hover {
    transform: scale(1.1);
}

button h2 {
    color: black;
}
.fact {
    color: var(--dpurpl);
    transition: all 250ms ease-in-out;
    /* border: solid white 2px; */
    border-right: solid white 5px;
}

.fact:hover {
    color: white;
}

.grid {
    box-sizing: border-box;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
.invis{
    color:rgba(104, 42, 218,0);
    transition:color 250ms ease-in-out ;
}
.invis:hover{
    color:white;
}
input{
    background: none;
    border: solid white 5px;
    border-radius:100px ;
    color:white;
    padding:10px;
}

/*Flashcard things*/
.flashcard {
    width: 30vw;
    height: 30vh;
    background-color: white;
    border: solid whitesmoke 10px;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35vh;
    left: 35vw;
}

.flashcard h1 {
    color: black;
}

.options {
    background-color: var(--dpurpl);
    width: 100%;
    height: 10vh;
    display: inherit;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 45vh;
    z-index: 2;
}

.option {
    background-color: white;
    width: 3vw;
    height: 3vw;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 0px 0px rgb(204, 204, 204);
    transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.option h2 {
    color: black;
    text-align: center;
}

.option:active {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px 0px 0px rgb(204, 204, 204);
}